.odd {
    background-color: pink;
    font: Verdana, "DejaVu Sans", sans-serif;
    font-size: 20px;
}
#second {
    color: blue;
    font-size: 36px;
}
.cool {
    font-size: 24px;
}
#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
* {
    margin-top: 0.55cm;
    margin-bottom: 0.55cm;
}